<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--OAuth -->
    <add key="ConsumerKey" value="qyprd3zDq6Ws7r13LQoass7Yzfbrrq" />
    <add key="ConsumerSecret" value="2YZT09iEhEO90RlIUnitokWe4XqyF4bD1WlhucFw" />
    <!-- Configurations -->
    <add key="OauthLink" value="https://oauth.intuit.com/oauth/v1" />
    <add key="ServiceContext.BaseUrl.Qbo" value="https://sandbox-quickbooks.api.intuit.com/" />
    <add key="AuthorizeUrl" value="https://appcenter.intuit.com/Connect/Begin" />
    <add key="GET_REQUEST_TOKEN" value="https://oauth.intuit.com/oauth/v1/get_request_token" />
    <add key="GET_ACCESS_TOKEN" value="https://oauth.intuit.com/oauth/v1//get_access_token" />
    <add key="DeepLink" value="sandbox.qbo.intuit.com" />
  </appSettings>
</configuration>
